.home-card {
	width: 150px;
	height: 200px;
	background-color: #eaf825;
}

.titre{
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	
}

.containerDePage{
 background-color: #eaf825;
 border-color: black;
 border-style:double;
}


  .cadre{
	border-color: black;
	background-color: ghostwhite;
	padding: 15px;
	margin: 10px;
	margin-left: 6px;
	margin-top:10px;
	margin-bottom: 10px;
	width: 200px;
	height: 240px;
  }


.taille{
	font-size:12px;
}
.velo{
	height: 130px;
	width: 170px;
}
.position{
	padding-right: 80px;
}