.bg-blue {
    background-color: rgb(196, 196, 226);
    
  }
  .logo{
    padding-right: 30px;
  }
  .dropdown{
    cursor:pointer;
  }
  .cart-length{
    color: red;
    font-size: large;
    font-weight: bold;
  }

